@media (max-width: 1199px) {
	.skill-title .bl {
		margin-left: 25px;
	}

	.intro {
		width: 970px;
	}

	.line1,
	.line2,
	.line3 {
		display: none;
	}

	#resume {
		background: none;
	}

	.timeline-bottom .timeline-item {
		justify-content: flex-start;
	}

	.pt200 {
		padding-top: 50px;
	}

	.pt152 {
		padding-top: 80px;
	}
}



@media (max-width : 991px) {

	.button {
		margin-bottom: 20px;
	}

	.footer-wrapper {
		background: none;
	}

	.intro {
		width: 750px;
	}

	.intro h1 {
		font-size: 100px;
	}
}

/* Extra small devices (phones, less than 768px) */
@media (max-width : 766px) {
	.intro {
		display: none;
		width: 100%;
        padding: 0 20px; 
	}

	#home img {
		display: block;
		width: 100%;
	}

	.social-icons ul {
		margin-left: 0;
	}

	.social-icons li {
		padding: 0;
	}

	.social-icons a i {
		margin: 0 5px;
	}

	.mouse-icon {
		display: none;
	}

	.navbar-custom .navbar-brand,
	.navbar-custom .navbar-nav>li>a,
	.navbar-custom .navbar-nav .dropdown-menu>li>a {
		padding: 10px 15px;
	}

	.navbar-custom .dropdown-menu {
		margin-left: 20px;
	}

	/*about me section*/
	.biography {
		margin-top: 20px;
		margin-bottom: 45px;
	}

	ul.list-check li {
		width: 100%;
	}

	.download-button .btn {
		margin-bottom: 20px;
	}

	.about-section .container {
		background: none;
	}

	.about-section {
		background: none;
	}

	.works-section {
		background: none;
	}

	/*  Popup Section */
	.popup_in {
		height: 80vh;
		align-items: center;
		align-content: space-between;
	}

	.popup_in img {
		width: 100%;
		height: 49%;
		object-fit: contain;
	}

	.popup_in i {
		font-size: 40px;
		top: -40px;
	}

	/*resume*/
	.resume:before,
	.resume:after {
		left: 1px;
	}

	.horizontal-timeline {
		flex-direction: column;
		gap: 10px 0;
	}

	/*skill section*/
	.skill-title h3 {
		font-size: 12px;
	}

	/*facts section*/
	.count-wrap i {
		font-size: 40px;
	}

	.count-wrap h3 {
		font-size: 30px;
		line-height: 16px;
	}

	.count-wrap p {
		font-size: 10px;
		font-weight: 400;
		line-height: 18px;
	}

	.count-wrap>div {
		margin-bottom: 40px;
	}

	#filter li {
		margin-bottom: 20px;
	}

	/*blog section*/
	.blog-post-wrapper {
		margin-bottom: 40px;
	}

	.entry-title {
		padding: 20px 10px;
	}

	/*hire us section*/
	.hire-section h2 {
		line-height: 40px;
	}

	/*contact section*/
	.contact-form {
		margin-bottom: 40px;
	}

	.contact-section div>i {
		float: none;
		margin-right: 0;
	}

	.center-xs {
		text-align: center;
	}

	/*service*/
	.service-wrap>div {
		margin-bottom: 100px;
	}

	.service-wrap>div:nth-child(4) {
		margin-bottom: 0;
	}

	/*HOME TWO*/
	#homeTwo:before {
		width: 100%;
	}

	.personal-info {
		text-align: center;
		padding: 0 15px;
	}

	.personal-info h1 {
		font-size: 40px;
		line-height: 50px;
	}

	.personal-info .intro-sub {
		font-size: 18px;
		line-height: 20px;
	}

	.personal-info p {
		line-height: 20px;
		margin-bottom: 20px;
	}

	.personal-info .my-signature {
		display: none;
	}

	.personal-info .download-button a {
		padding: 5px 10px;
		font-size: 15px;
		margin-right: 0;
	}

	.pt200 {
		padding-top: 10px;
	}

	.pt152 {
		padding-top: 10px;
	}

	.mt50 {
		margin-top: 10px;
	}

 .mb {
        width: 100%;
        max-width: 100%;
        height: auto;
        object-fit: contain; 
    }
    
    
    #home {
        overflow: hidden;
    }
    
    
}





@media (max-width : 640px) {
	.tt-fullHeight {
		height: 560px !important;
	}

	.button {
		margin-bottom: 20px;
	}



	.contact {
		width: 100%;
		max-width: 640px;
		margin: auto;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		/* 추가: 좁아지면 아래로 떨어지게 */
		gap: 16px;
		/* 요소 간 여백도 추가 */
	}

	.contact .number,
	.contact .mail {
		flex: 1 1 280px;
		/* 최소한 280px까진 유지 */
	}

	.footer-wrapper {
		background: none;
	}
}

/* Extra small devices (phones, less than 339px) */
@media (max-width : 339px) {
	.m-skill {
		margin-bottom: 60px;
	}
}

/* Landscape Mobile */
@media only screen and (min-width : 480px) and (max-width : 767px) {
	.intro h1 {
		font-size: 60px;
		line-height: 80px;
	}

	.social-icons ul {
		margin-left: -5px;
	}

	.social-icons li {
		padding: 0 5px;
	}

	.social-icons a i {
		margin: 0 7px;
	}

	.mouse-icon {
		display: none;
	}

	.navbar-custom .navbar-brand,
	.navbar-custom .navbar-nav>li>a,
	.navbar-custom .navbar-nav .dropdown-menu>li>a {
		padding: 10px 15px;
	}

	.navbar-custom .dropdown-menu {
		margin-left: 20px;
	}

	/*about me section*/
	.biography {
		margin-top: 20px;
		margin-bottom: 45px;
	}

	ul.list-check li {
		width: 50%;
	}


	/*resume*/
	.resume:before,
	.resume:after {
		left: 1px;
	}

	/*skill section*/
	.skill-title h3 {
		font-size: 12px;
	}

	/*facts section*/
	.count-wrap i {
		font-size: 64px;
	}

	.count-wrap h3 {
		font-size: 50px;
		line-height: 28px;
	}

	.count-wrap p {
		font-size: 18px;
		font-weight: 700;
		line-height: 28px;
	}

	.count-wrap>div {
		margin-bottom: 40px;
	}

	/*blog section*/
	.blog-post-wrapper {
		margin-bottom: 40px;
	}

	.entry-title {
		padding: 20px 10px;
	}

	/*hire us section*/
	.hire-section h2 {
		line-height: 40px;
	}

	/*contact section*/
	.contact-form {
		margin-bottom: 40px;
	}

	.contact-section .map-icon,
	.contact-section .mobile-icon {
		float: none;
	}

	.center-xs {
		text-align: center;
	}

	/*service*/
	.service-wrap>div {
		margin-bottom: 100px;
	}

	.service-wrap>div:nth-child(4) {
		margin-bottom: 0;
	}

	/*HOME TWO*/
	#homeTwo:before {
		width: 100%;
	}

	.personal-info {
		text-align: center;
		padding: 0 15px;
	}

	.personal-info h1 {
		font-size: 60px;
		line-height: 80px;
	}

	.personal-info .intro-sub {
		font-size: 24px;
		line-height: 32px;
	}

	.personal-info p {
		font-size: 14px;
		line-height: 28px;
	}

	.personal-info .my-signature {
		margin-bottom: 45px;
		display: block;
	}

	.personal-info .download-button a {
		padding: 14px 20px;
		font-size: 14px;
		margin-right: 20px;
	}

	.latest-blog-section {
		background: none
	}

}


/* Small devices (tablets, 768px and up) */
@media (min-width : 768px) and (max-width : 991px) {
	.navbar-custom .navbar-brand {
		padding: 10px 15px;
	}

	.navbar-custom .navbar-nav>li>a,
	.navbar-custom .navbar-nav .dropdown-menu>li>a {
		font-size: 12px;
		padding: 15px;
	}

	/*about me section*/
	.biography {
		margin-top: 20px;
		margin-bottom: 45px;
	}

	/*resume*/
	.resume:before,
	.resume:after {
		left: 0px;
	}

	/*skill section*/
	.skill-title h3 {
		font-size: 14px;
	}

	/*blog section*/
	.blog-post-wrapper {
		margin-bottom: 40px;
	}

	.entry-title {
		padding: 30px 20px;
	}


	/*contact section*/
	.contact-form {
		margin-bottom: 40px;
	}

	.contact-section .map-icon,
	.contact-section .mobile-icon {
		float: left;
	}

	.center-xs {
		text-align: left;
	}


	.portfolio-item {
		min-height: 162px;
	}

	/*service*/
	.service-wrap>div {
		margin-bottom: 100px;
	}

	.service-wrap>div:nth-child(3),
	.service-wrap>div:nth-child(4) {
		margin-bottom: 0;
	}

	/*HOME TWO*/
	#homeTwo:before {
		width: 100%;
	}

	.personal-info {
		text-align: center;
		padding: 0 15px;
	}


}

@media (max-width : 640px) {
	.latest-blog-section {
    background:none}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width : 992px) and (max-width : 1199px) {
	.portfolio-item {
		min-height: 150px;
	}
}