/*
    Author: TrendyTheme
    Template: I AM X
    Version: 1.2
    URL: http://demo.trendytheme.net/iamx/html
*/


/*
====================================
------------------------------------
    1. General
    2. Typography
    3. Home
    4. Navigation
    5. About
    6. Portfolio
    7. Artwork
    8. Resume
    9. Skill
    10. Chart
    11. Footer
-------------------------------------
=====================================
*/

/* Start https://www.cursors-4u.com */
* {
    cursor: url(https://cur.cursors-4u.net/cursors/cur-9/cur818.cur), auto !important;
}

/* End https://www.cursors-4u.com */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Pretendard Variable', sans-serif;
    line-height: 1.7;
    font-weight: 300;
    font-size: 17px;
    color: #515151;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased !important;
}

body,
html {
    overflow-x: hidden;
}

/* Link style
---------------------------------------------------------*/
a {
    color: #515151;
}

a,
a>* {
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

a:focus,
a:hover {
    outline: none;
    color: #333333;
    text-decoration: none;
}


/* Transition elsements
-------------------------------------------------------- */
.navbar a,
.form-control {
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

a,
.btn {
    -webkit-transition: all 0.125s ease-in-out 0s;
    -moz-transition: all 0.125s ease-in-out 0s;
    -ms-transition: all 0.125s ease-in-out 0s;
    -o-transition: all 0.125s ease-in-out 0s;
    transition: all 0.125s ease-in-out 0s;
}

/* Reset box-shadow
/* ------------------------------------------------------ */

.btn,
.form-control,
.form-control:hover,
.form-control:focus,
.navbar-custom .dropdown-menu {
    -webkit-box-shadow: none;
    box-shadow: none;
}




/* === Typography === */

h3 {
    line-height: 1.5;
}

h3 span {
    font-weight: 700;
}

h4 {
    font-size: 17px;
    font-weight: 300;
}

h4 span {
    color: #E86856;
}

p span {
    font-weight: 500;
}

/* === FORM STYLE === */
.form-control {
    height: 45px;
    background-color: #f7f7f7;
    border: 1px solid #e8e8e8;
    border-radius: 0;
    box-shadow: none;
}

.form-control:focus {
    border-color: #68c3a3;
    box-shadow: none;
}




/* Alert Style
-----------------------------------------------------*/
.alert {
    padding: 10px 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 0;
}

.alert strong {
    display: inline-block !important;
    margin: 0 !important;
}

/* BUTTON STYLE
-----------------------------------------------------*/
/*common-btn*/
.btn {
    border: 0;
    border-bottom: 3px solid;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 28px;
    padding: 9px 22px;
}

/*large-btn*/
.btn-lg,
.btn-group-lg>.btn {
    padding: 14px 20px;
    font-size: 14px;
    border-radius: 4px;
}

/*btn-primary*/
.btn-primary {
    background-color: #68c3a3;
    border-color: rgba(51, 51, 51, 0.15);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #4eb28f;
    border-color: #4eb28f;
}

/*btn-info*/
.btn-info {
    background-color: #52b3d9;
    border-color: rgba(51, 51, 51, 0.15);
}

.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active,
.open>.dropdown-toggle.btn-info {
    color: #fff;
    background-color: #4aa0c2;
    border-color: #4aa0c2;
}

/*btn-default*/
.btn-default {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active {
    color: #68c3a3;
    background-color: #fff;
    border-color: #fff;
}


button:focus {
    outline: none;
}


/*IMAGES*/
img {
    width: 100%;
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
}

.no-padding {
    padding: 0;
}

/* LIST STYLE
-------------------------------------------------- */
ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none
}

ul.list-check li {
    position: relative;
    font-size: 18px;
    line-height: 32px;
}

ul.list-check li::before {
    content: "\f00c";
    font-family: fontawesome;
    color: #68c3a3;
    margin-right: 10px;
}


/* === MAIN === */
.section-padding {
    padding: 120px 0 100px;

}


/* SECTION TITLE
----------------------------------------------------- */
.section-title {
    margin-bottom: 10px;
    text-align: left;
    font-size: 45px;
    font-weight: bold;
    line-height: 50px;
    color: #515151;
    position: relative;

}


.container p {
    padding-top: 20px;
    padding-bottom: 20px;
}

.section-title {
    position: relative;
    font-size: 32px;
    font-weight: bold;
    color: #333;
    padding-left: 20px;

}

.section-title::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 35px;
    background-color: #e63946;
    border-radius: 2px;
}

/* === HOME === */
#home {
    background: url(../images/OBJECTS.png) no-repeat center center;
    -webkit-background-attachment: fixed;
    background-attachment: fixed;

    background-size: cover;
    padding: 0;
    position: relative;
    height: 900px;

}

#home:before {
    content: "";
    /* background-color: rgba(26, 30, 35, 0.85); */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#home img {
    display: none;
}

.intro {
    position: absolute;
    width: 1170px;
    top: 50%;
    left: 50%;
    text-align: left;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.intro h1 {
    font-size: 150px;
    line-height: 1;
    margin-bottom: 10px;
    font-weight: 900;
    color: #DC2234;
}

.intro span {
    display: inline-block;
}


.intro p {
    color: #DC2234;
    margin-bottom: 40px;
}

.intro-sub {
    color: #fff;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px;
}

.mb {
    max-width: 100%;
    height: auto;
    display: block;
}


/* 라인 */
.line {
    position: absolute;
    background-color: #DC2234;
}

.line-1 {
    top: 23.5%;
    left: 0;
    height: 1px;
    width: 0;
}

.line-2 {
    top: 0;
    left: 13.8%;
    width: 1px;
    height: 0;
}

.line-3 {
    bottom: 27%;
    left: 0;
    height: 1px;
    width: 0;
}

.line-4 {
    top: 0;
    right: 21.2%;
    width: 1px;
    height: 0;
}

/* @keyframes grow-width {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes grow-height {
    from {
        height: 0;
    }

    to {
        height: 100%;
    }
}

.line-1 {
    animation: grow-width 0.5s ease-out forwards;
}

.line-2 {
    animation: grow-height 0.5s ease-out forwards;
    animation-delay: 0.5s;
}

.line-3 {
    animation: grow-width 0.5s ease-out forwards;
    animation-delay: 1s;
}

.line-4 {
    animation: grow-height 0.5s ease-out forwards;
    animation-delay: 1.5s;
} */

/* 타이틀 애니매이션 */
.scroll-title span {
    display: inline-block;
    transform: translateY(100px);
    /* 초기에 아래로 치워둠 */
    opacity: 0;
}

.marquee-wrap {
    position: absolute;
    top: 7%;
    left: 0;
    width: 100%;
    height: 250px;
    z-index: -1;
    pointer-events: none;
    mix-blend-mode: multiply;
    filter: opacity(80%);
}

.marquee-track {
    display: inline-block;
    white-space: nowrap;
    font-size: 222px;
    font-weight: 900;
    color: #FFF4F3;
    animation: marqueeLeft 60s linear infinite;
}

.marquee-wrap_2 {
    position: absolute;
    top: 43%;
    left: 0;
    width: 100%;
    height: 250px;
    z-index: -1;
    pointer-events: none;
    mix-blend-mode: multiply;
    filter: opacity(80%);
}

.marquee-track_2 {
    display: inline-block;
    white-space: nowrap;
    font-size: 222px;
    font-weight: 900;
    color: #FFF4F3;
    animation: marqueeLeft 60s linear infinite;
}

@keyframes marqueeLeft {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* 
SOCIAL ICON 
-------------------------------------------*/
.social-icons {
    margin-top: 20px;
}

.social-icons a i {
    position: relative;
    color: #fff;
    font-size: 18px;
    margin: 0 7px;
    line-height: 40px;
    text-align: center;
    width: 40px;
    height: 40px;
}

.social-icons a i::before {
    position: relative;
    z-index: 1;
}

.social-icons a i::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 3px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}

.social-icons a i:hover::after {
    background: #DC2234;
    border: 1px solid transparent;
    z-index: 0;
}


/* === NAVIGATION === */
.header {
    border-top: 1px solid #e1e1e1;
    position: relative;
    width: 100%;
    z-index: 998;
    padding-bottom: 1px;
    background: #fff;
}

.header::after {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    width: 100%;
    position: absolute;
    content: "";
    height: 2px;
    bottom: 1px;
    left: 0;
}

.navbar-custom {
    border: 0;
    border-radius: 0;
    margin: 0;
    text-transform: uppercase;
    font-family: 'Pretendard Variable', sans-serif;
}


.navbar-custom,
.navbar-custom .dropdown-menu {
    background: #fff;
    padding: 0;
}

.navbar-custom ul li a span {
    margin-left: 5px;
}

.navbar-custom .dropdown-menu {
    margin-top: 10px;
    display: block;
    visibility: hidden;
    opacity: 0;
    border: 1px solid #ddd;
    border-top: 2px solid #68c3a3;
    border-radius: 0;

    background-color: #FFFFFF;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}

.navbar-right .dropdown-menu {
    right: auto;
    left: 0;
}

.navbar-custom .navbar-nav>li:hover .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
    margin-top: -2px;
}

.navbar-custom .navbar-nav>li>a {
    font-family: 'Pretendard Variable', sans-serif;
    color: #515151;
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.navbar-custom .dropdown-menu>li {
    border-bottom: 1px solid #F0F0F0;
}

.navbar-custom .dropdown-menu>li:last-child {
    border-bottom: 0;
}

.navbar-custom .dropdown-menu>li>a {
    padding: 10px 20px;
    color: #282828;
    font-size: 14px;
    font-weight: 700;
}

.navbar-custom .nav li.active,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .navbar-nav>li.active>a {
    background: none;
    outline: 0;
    color: #DC2234;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
    font-size: 18px;
}

.navbar-custom .nav .open>a,
.navbar-custom .dropdown-menu>li>a:hover,
.navbar-custom .dropdown-menu>li>a:focus {
    background: #f5f5f5;
}

.navbar-custom .navbar-toggle .icon-bar {
    background: #222;
}




/* === About Section === */
.short-info {
    margin-bottom: 40px;
    padding-left: 50px;
}

.short-info h3 {
    margin-bottom: 30px;
}

.short-info ul {
    margin-top: 10px;
    display: inline-block;
}

.short-info ul li {
    width: 50%;
    float: left;
}

.my-signature {
    margin-bottom: 45px;
}

.my-signature img {
    width: inherit;
}


/*download-button*/
.download-button a {
    margin-right: 20px;
    color: #fff;
}

.download-button a i {
    margin-right: 10px;
}


.biography {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #EEEEEE;
    position: relative;
}

.biography::after {
    content: "";
    border-bottom: 1px solid #EEEEEE;
    position: absolute;
    bottom: -3px;
    width: 100%;
    border-radius: 10px;
    height: 20px;
}

.myphoto {
    position: relative;
}

.myphoto img {
    position: relative;
    z-index: -1;
}

.biography ul {
    padding: 25px 20px 30px;
}

.biography ul li {
    padding: 5px 0;
    font-size: 16px;
    border-bottom: 1px solid #EEEEEE;
}

.biography ul li:last-child {
    border-bottom: 0;
}


/* === Portfolio Section === */

.latest-blog-section {
    background:
        url(../images/star.png) no-repeat 11% 75%,
        url(../images/star.png) no-repeat 20.5% 87%,
        url(../images/dott.png) no-repeat 100% 100%;

}


.blog-post-wrapper {
    margin-bottom: 30px;
    overflow: hidden;
    padding-top: 50px;

}

.blog-post-wrapper .img-responsive {
    padding: 0;
    border-radius: 10px;

}

/* .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #F38D7F;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
} */

/* 이미지를 감싸는 button 클래스 역할 */
.image-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 16px;
}

/* 이미지 */
.image-container img {
    width: 100%;
    display: block;
    border-radius: 16px;
}

/* wave 기본은 안 보이게 */
.wave-overlay {
    position: absolute;
    bottom: -200%;
    left: 0;
    width: 100%;
    height: 200%;
    background: #F38D7F;
    border-radius: 45%;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
    transition:
        transform 0.8s ease,
        opacity 0.5s ease;
    animation: wave-move 4s infinite linear;
}

/* 텍스트 기본은 숨김 */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

.image-container:hover .wave-overlay {
    opacity: 1;
    /* animation: wave-move 6s infinite linear; */
}

.image-container:hover .overlay {
    opacity: 1;
}

/* wave 넘실거리는 애니메이션 */
@keyframes wave-move {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    100% {
        transform: translateY(-100%) rotate(720deg) scale(1.3);
    }
}




.image-container {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.blog-post-wrapper:hover .overlay {
    opacity: 1;
}

.overlay-content {
    text-align: center;
    color: white;
    padding: 20px;
    transform: translateY(20px);
    transition: transform 0.3s ease;
}

.blog-post-wrapper:hover .overlay-content {
    transform: translateY(0);
}

.portfolio-item p {
    padding: 5px;
}

.overlay-title {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 600;
    font-size: 1.5em;

}

.overlay-subtitle {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1em;
    opacity: 0.9;
    margin-bottom: 10px;
}

.overlay-description {
    font-size: 0.9em;
    opacity: 0.8;
    line-height: 1.4;
}

.entry-title {
    padding: 40px 0 0px 30px;
}

a p {
    padding-top: 10px;
}

.button {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.button a {
    font-size: 13px;
    border: 1px solid #E86856;
    color: #515151;
    padding: 5px 15px;
    border-radius: 50px;
}

.button a:hover {
    color: #fff;
    border-color: #E86856;
    background-color: #E86856;
}

.all_sec1 {
    margin: 40px auto;
}

.photo {
    margin-top: 40px;
    position: relative;
    display: inline-block;
}

.photo img {
    max-width: 250px;
    width: 100%;
    display: block;
    border-radius: 46%;
    position: relative;
    z-index: 1;

    transition: filter 0.3s ease;
}

.photo img:hover {
    filter: blur(3px);
    transform: scale(1.02);
}

/*
Icon for all respective meta
====================================== */
.the-time::before {
    content: "\f133";
}

.the-time {
    position: relative;
    padding-left: 20px;
}

.the-time::before {
    font-family: FontAwesome;
    position: absolute;
    left: 0;
}

.fa-home:before {
    font-size: 22px;
}

.fa-mobile:before {
    font-size: 30px;
}

/* === Artwork Section === */
.works-section {
    background: url(../images/typo1.png) no-repeat 100% 13%,
        url(../images/typo2.png) no-repeat 0% 100%,
        url(../images/twinkle2.png) no-repeat 10% 20%,
        url(../images/twinkle2.png) no-repeat 90% 95%;
}

.title {
    text-align: center;
}

.title h4 {
    font-size: 25px;
    font-weight: 500;
    padding-top: 20px;

}

.title .button {
    justify-content: center;
}

.works-section h3 {
    text-align: center;
    padding-bottom: 20px;
}

.snsbox {
    overflow: hidden;
    margin-bottom: 50px;

}

.portfolio-item {
    /* padding-right: 5px;
    padding-left: 5px; */
    min-height: 235px;

}



.portfolio {
    position: relative;
    overflow: hidden;
    border-radius: 30px;

}

.tt-overlay {
    position: absolute;
    background-color: rgba(26, 30, 31, 0.85);
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
}

.tt-overlay h4 {
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    position: relative;
    /* 이게 꼭 필요합니다! */
    margin-top: 20px;
}

.tt-overlay p {
    color: #fff;
}

.tt-overlay h4::after {
    content: '';
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.4s ease;
}

/* 호버 시 오버레이 나타남 */
.portfolio-item:hover .tt-overlay {
    opacity: 1;
}

/* 호버 시 선이 펼쳐짐 */
.portfolio-item:hover .tt-overlay h4::after {
    width: 60px;
    /* 원하는 선 길이 */
}

.portfolio-info,
.links,
.links a i,
.links a i::after,
.tt-overlay {
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}


.links {
    width: 90px;
    height: 40px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-top: -20px;
    margin-left: -45px;
    opacity: 0;
    -webkit-transform: translate(0, -50px);
    -moz-transform: translate(0, -50px);
    -ms-transform: translate(0, -50px);
    -o-transform: translate(0, -50px);
    transform: translate(0, -50px);
    text-align: center;


    display: none !important;

}

/* .links i {
    position: relative;
    color: #68c3a3;
    font-size: 16px;
    margin: 0 13px;
    z-index: 100;
}

.links i {
    color: #fff;
} */

/* .links i::after {
    position: absolute;
    content: "";
    left: -7px;
    top: -7px;
    width: 30px;
    height: 30px;
    border: 1px solid #68c3a3;
    z-index: -1;
    border-radius: 3px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
} */

/* .links i::after {
    background-color: #68c3a3;
} */

.portfolio-info {
    position: absolute;
    bottom: -100%;
    left: 0;
    color: #fff;
    height: 45px;
    width: 100%;
    text-align: center;
}

.portfolio:hover .tt-overlay,
.portfolio:hover .links {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.portfolio:hover .portfolio-info {
    bottom: 0;
}

.portfolio-info h3 {
    font-size: 14px;
    line-height: 45px;
    font-weight: 700;
    margin: 0;
}

.marquee-container {
    width: 100vw;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #ECECEC;
    border-top: 1px solid #ECECEC;
    margin-top: 85px;
}

.marquee-content {
    display: flex;
    align-items: center;
    white-space: nowrap;
    animation: scroll 60s linear infinite;
}

.marquee-text {
    font-family: 'Butler', sans-serif;
    color: #E86856;
    font-size: 30px;
    margin: 0 30px;
}

.star {
    color: #FFD0C9;
    font-size: 30px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100% + 100vw));
    }
}


/* === Popup Section === */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    display: none;
}

.popup_in {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.popup_in i {
    position: absolute;
    top: -60px;
    right: 0%;
    font-size: 50px;
    color: #fff;
    cursor: pointer;
}

.popup_in img {
    width: 49%;
}

/* === Resume Section === */

/*---------------------------------------------------------
Resume Timeline
-----------------------------------------------------------*/

.icon {
    width: 95px;
}

.date {
    font-weight: 500;
}

.resume-title h3 {
    text-align: left;
    font-weight: bold;
    margin-bottom: 20px;
}

.resume-section>div>div {
    margin-bottom: 60px;
}

.resume-section>div>div:nth-of-type(2) {
    margin-bottom: 0;
}

.resume-title {
    margin-bottom: 30px;
}

.timeline-section {
    position: relative;
    padding: 0;
    list-style: none;
    background: url(../images/title.png) no-repeat 20px 20px;
}

.horizontal-timeline {
    position: relative;
    display: flex;
    z-index: 2;

}

.timeline-section h3 {
    margin: 50px 0;
}

.line1 {
    position: absolute;
    left: 0;
    width: 100%;
    /* 또는 원하는 너비 */
    height: auto;
    z-index: 1;
}

.line1:nth-child(1) {
    top: 27%;
}

.line1:nth-child(2) {
    top: 54.4%;
}


.line1:nth-child(3) {
    top: 80.3%;
}

.icon {
    position: relative;
}

.icon img {
    width: auto;
}

.line2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -105px;
    width: auto;
    z-index: 2;
}

.line3 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -106px;
    width: auto;
    z-index: 2;
}



.line3_soul {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 95px;
    width: auto;
    z-index: 2;
}

.timeline-item {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 20px;
}

.timeline-bottom .timeline-item {
    justify-content: flex-end;
}

.pt200 {
    padding-top: 200px;
}

.pt152 {
    padding-top: 152px;
}

.mt50 {
    margin-top: 80px;
}

.resume {
    position: relative;
}

#resume {
    background:

        url(../images/twinkle4.png) no-repeat 42% 16%,
        url(../images/twinkle5.png) no-repeat 85% 16%,
        url(../images/twinkle6.png) no-repeat 89% 19%,
        url(../images/spring.png) no-repeat 100% 50%,
        url(../images/dott.png) no-repeat 0% 60%,
        url(../images/dott.png) no-repeat 0% 60%,
        url(../images/twinkle4.png) no-repeat 77% 47%,
        url(../images/twinkle4.png) no-repeat 20% 63%,
        url(../images/Experience.png) no-repeat 100% 90%,
        url(../images/twinkle5.png) no-repeat 15% 93%,
        url(../images/twinkle6.png) no-repeat 18% 90%,
        url(../images/twinkle4.png) no-repeat 60% 97%,
        url(../images/Professional.png) no-repeat 0% 23%;
}

.desc span {
    font-weight: 500;
}


.container {
    position: relative;
    z-index: 2;
}

.resume-section {
    position: relative;
}

.resume:before {
    content: "";
    position: absolute;
    top: -8px;
    width: 10px;
    height: 10px;
    background-color: #e1e1e1;
    left: 50%;
    margin-left: -6px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.resume:after {
    content: "";
    position: absolute;
    bottom: -8px;
    width: 10px;
    height: 10px;
    background-color: #e1e1e1;
    left: 50%;
    margin-left: -6px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    margin-left: -1.5px;
    background-color: #e1e1e1;
}

.timeline>li {
    position: relative;
    margin-bottom: 50px;
    min-height: 50px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li .timeline-panel {
    float: left;
    position: relative;
    width: 100%;
}

.timeline-content {
    padding: 5px 20px 0 20px;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .posted-date {
    position: relative;
    text-align: center;
    background-color: #fff;
    left: 20px;
}


.timeline>li .posted-date .month {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    display: block;
    color: #2c3e50;
    top: 0;
    float: left;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline-heading h3 {
    font-size: 20px;
    line-height: 28px;
}

.timeline-heading span {
    display: block;
    font-weight: 700;
    margin-bottom: 20px;
}





@media(min-width:992px) {
    /* .timeline:before {
        left: 50%;
    }

    .timeline>li {
        margin-bottom: 15px;
        min-height: 100px;
    }

    .timeline>li .posted-date {
        position: absolute;
        text-align: center;
        background-color: #fff;
    }

    .timeline>li .timeline-panel {
        float: left;
        width: 43%;
        text-align: right;
        border: 1px solid #eee;
        position: relative;
    }

    .timeline-content {
        position: relative;
        padding: 24px;
        background-color: #fff;
        -webkit-transition: all 400ms;
        -moz-transition: all 400ms;
        -o-transition: all 400ms;
        transition: all 400ms;
    }

    .timeline-content::after {
        border: 1px solid #eee;
        width: 100%;
        position: absolute;
        content: "";
        bottom: -3px;
        height: 10px;
        left: 0;
        z-index: -1;
    }

    .timeline>li .timeline-content:hover {
        background: #68c3a3;
        color: #fff;
    }

    .timeline>li .timeline-panel::before,
    .timeline>li.timeline-inverted .timeline-panel::before {
        content: "";
        top: 25px;
        position: absolute;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }

    .timeline>li .timeline-panel::before {
        left: 100%;
        border-left: 12px solid #ECECEC;
        -webkit-transition: all 400ms;
        -moz-transition: all 400ms;
        -o-transition: all 400ms;
        transition: all 400ms;
    }

    .timeline>li .timeline-panel:hover::before {
        border-left: 12px solid #68c3a3;
    }

    .timeline>li.timeline-inverted .timeline-panel::before {
        right: 100%;
        border-right: 12px solid #ECECEC;
        -webkit-transition: all 400ms;
        -moz-transition: all 400ms;
        -o-transition: all 400ms;
        transition: all 400ms;
    }

    .timeline>li.timeline-inverted .timeline-panel:hover::before {
        border-right: 12px solid #68c3a3;
        border-left: 0;
    }

    .timeline>li .timeline-panel::after,
    .timeline>li.timeline-inverted .timeline-panel::after {
        content: "";
        top: 25px;
        position: absolute;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }

    .timeline>li .timeline-panel::after {
        left: 100%;
        margin-left: -2px;
        border-left: 12px solid #FFFFFF;
        -webkit-transition: all 400ms;
        -moz-transition: all 400ms;
        -o-transition: all 400ms;
        transition: all 400ms;
    }

    .timeline>li .timeline-panel:hover::after {
        border-left: 12px solid #68c3a3;
    }

    .timeline>li.timeline-inverted .timeline-panel::after {
        right: 100%;
        margin-right: -2px;
        border-right: 12px solid #FFFFFF;
        -webkit-transition: all 400ms;
        -moz-transition: all 400ms;
        -o-transition: all 400ms;
        transition: all 400ms;
    }

    .timeline>li.timeline-inverted .timeline-panel:hover::after {
        border-right: 12px solid #68c3a3;
        border-left: 0;
    }

    .timeline>li .posted-date {
        left: 50%;
        width: 120px;
        margin-left: -60px;
        margin-top: 28px;
    }

    .timeline>li .posted-date .month {
        float: none;
    } */

    /* .horizontal-timeline {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 60px 80px;
    }


    .timeline-item {
        display: flex;
        gap: 20px;
        align-items: flex-start;
    }

    .timeline-item .icon {
        flex-shrink: 0;
    }

    .timeline-item .desc {
        word-break: keep-all;
    } */

}



/* === Skill Section === */
.skills-section {
    background-color: #FBFBFB;
    color: #515151;
    margin-top: 50px;
    background-image:
        url(../images/twinkle3.png),
        url(../images/twinkle3.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 26% 15%, 30.5% 78%;
}

.skills-section .section-title {
    color: #515151;
    margin-bottom: 50px;
    margin-top: 50px;
}

.skills-section .section-title h2 {
    color: #515151;

}

.skill-title {
    width: 25%;
    float: left;
}

.skill-title h3 {
    font-size: 18px;
    font-weight: 400;
    margin-top: -8px;
    margin-left: 30px;
    text-transform: capitalize;
}

.skill-title .bl {
    margin-left: 60px;
}

/* progress-bar */

.chart {
    position: relative;
    display: inline-block;
    width: 140px;
    height: 140px;
    margin: 40px auto;
    text-align: center;
}

.percent {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    z-index: 2;
}

.chart-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.chart-text span {
    font-size: 14px;
    font-weight: 400;
    display: block;
    color: #666;
    line-height: 1;
}

.skill-progress {
    position: relative;
}

.progress {
    height: 10px;
    margin-bottom: 40px;
    background-color: #F5F5F5;
    border-radius: 3px;
    box-shadow: none;
    width: 75%;
    border-radius: 10px;
}

.progress-bar {
    background-color: #E86856;
    box-shadow: none;
    /* 그림자 제거 */
    border: none;
    /* 테두리도 제거 */
}

.progress-bar span {
    position: absolute;
    right: 8px;
    bottom: 30%;
    transform: translateY(-50%);
    font-size: 15px;
    font-weight: 500;
    color: #515151
}

.progress .progress-bar.six-sec-ease-in-out {
    -webkit-transition: width 2s ease-in-out;
    -moz-transition: width 2s ease-in-out;
    -o-transition: width 2s ease-in-out;
    transition: width 2s ease-in-out;
}


.skill-chart h3 {
    margin-top: 20px;
}

.our-progress {
    margin: 10px 0 30px;
}

.progress-percent {
    margin-left: auto;
    margin-right: auto;
}

.our-progress h3 {
    font-weight: 400;
    margin-bottom: 5px;
}



/* === Chart CSS  === */
.chart {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 170px;
    margin: 20px auto;
    text-align: center;
}

.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.percent {
    display: inline-block;
    margin: auto;
    line-height: 140px;
    z-index: 2;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}

.percent:after {
    content: '%';
}

#chart-html .percent {
    display: block;
    transform: translateY(-85px);
    /* 원하는 만큼 위로 */
    left: 57px;
}


.chart-text span {
    font-size: 14.8px;
    font-weight: 400;
    text-transform: capitalize;
    display: block;
}

/*.percent:after {content: '%';margin-left: 0.1em;font-size: .8em;}*/
.angular {
    margin-top: 100px;
}

.angular .chart {
    margin-top: 0;
}

.chart .chart-text h3 {
    font-size: 22px;
}


/*PopUp fade effect*/
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    /* ideally, transition speed should match zoom duration */
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}


/* === Footer Wrapper === */
.footer-wrapper {
    padding: 36px 0;
    color: #515151;
    background: url(../images/contact.png) no-repeat 100% 15%,
        url(../images/zigzag.png) no-repeat 0% 100%;
}

.copyright {
    color: #E86856;
    padding-top: 30px;
    padding-bottom: 50px;
}

.copyright a {
    color: #515151;
}

.contact img {
    width: 95px;
    height: 95px;
}

.contact h3 {
    font-size: 20px;
}

.contact {
    width: 700px;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.contact p {
    margin: 0 !important;
    padding: 0 !important;
    line-height: 1.2;
    transition: color 0.3s ease;
}

.contact p:hover {
    color: #E86856;
}

.number img:hover {
    filter: blur(3px);
    opacity: 0.5;
    transition: filter 0.3s ease;
}

.mail img:hover {
    filter: blur(3px);
    opacity: 0.5;
    transition: filter 0.3s ease;
}

/* ---------------------------------------------- /*
 * Scroll to top
/* ---------------------------------------------- */

.scroll-up {
    position: fixed;
    display: none;
    z-index: 999;
    bottom: 1.8em;
    right: 1.8em;

}

.scroll-up a {
    background-color: #E86856;
    display: block;
    width: 28px;
    height: 28px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 28px;
    border-radius: 40%;
}

.scroll-up a:hover,
.scroll-up a:active {
    background-color: #fff;
    color: #E86856;
    border: 1px solid #E86856;
}



/* ---------------------------------------------- /*
 * Mouse animate icon
/* ---------------------------------------------- */

.mouse-icon {
    position: absolute;
    left: 50%;
    bottom: 40px;
    border: 2px solid #FFD0C9;
    border-radius: 16px;
    height: 50px;
    width: 30px;
    margin-left: -17px;
    display: block;
    z-index: 10;
}

.mouse-icon .wheel {
    -webkit-animation-name: drop;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: drop;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.mouse-icon .wheel {
    position: relative;
    border-radius: 10px;
    background: #FFD0C9;
    width: 4px;
    height: 10px;
    top: 4px;
    margin-left: auto;
    margin-right: auto;
}

@-webkit-keyframes drop {
    0% {
        top: 5px;
        opacity: 0;
    }

    30% {
        top: 10px;
        opacity: 1;
    }

    100% {
        top: 25px;
        opacity: 0;
    }
}


@keyframes drop {
    0% {
        top: 5px;
        opacity: 0;
    }

    30% {
        top: 10px;
        opacity: 1;
    }

    100% {
        top: 25px;
        opacity: 0;
    }
}

/* ---------------------------------------------- /*
 * Preloader
/* ---------------------------------------------- */

#tt-preloader {
    background: #FFF;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

#pre-status,
.preload-placeholder {
    background-image: url(../images/preloader.gif);
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
}

.preload-placeholder {
    background: none;
    left: 0;
    margin: 0;
    text-align: center;
    top: 65%;
}





/* === Home Page Two === */

#homeTwo {
    background: url(../images/home-2.jpg) no-repeat center center;
    background-color: #222;
    background-size: cover;
    padding: 0;
    position: relative;
}

/* === About Section === */
.about-section .container {
    background: url(../images/twinkle.png) no-repeat 28% 14%;
}

.about-section {
    background: url(../images/PORTFOLIO.png) no-repeat 100% 90%;
}

/*SERVICE SECTION*/
.service-section {
    background: url(../../assets/images/service-bg.jpg) no-repeat center center;
    background-size: cover;
    padding: 120px 0;
}

.service-section h2 {
    color: #fff;
}

.service-wrap {
    padding: 40px 0
}

.service-box {
    text-align: center;
    position: relative;
    width: 180px;
    height: 180px;
    margin: 0 auto;
}

.service-box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    border: 1px solid #fff;
    width: 180px;
    height: 180px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 15px;
}

.service-box i {
    font-size: 40px;
    color: #fff;
    line-height: 100px;
    z-index: 100;
    position: relative;
}

.service-box h3 {
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    z-index: 100;
    position: relative;
}

.service-box:hover.service-box::after {
    background: #fff;
    border: 1px solid transparent;
}

.service-box:hover i,
.service-box:hover h3 {
    color: #2c3e50;
}

.service-box i,
.service-box h3,
.service-box::after {
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}

/*HOMEPAGE TWO*/
#homeTwo {
    position: relative;
}

#homeTwo:before {
    content: "";
    background-color: rgba(26, 30, 35, 0.90);
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}

.home-version-two {
    z-index: 0;
    overflow: hidden;
}

.home-version-two::before {
    z-index: -100;
}

.personal-info {
    color: #fff;
    padding: 0 0 0 15px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}

.personal-info h1 {
    font-size: 60px;
    line-height: 80px;
    margin-bottom: 16px;
}

.personal-info h1 span {
    color: #E86856;
}

.personal-info p {
    margin-bottom: 40px;
}

.video-introducing {
    background: url(../images/video-bg.jpg) no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 390px;
    border: 5px solid #FFF;
    padding: 5px;
    box-shadow: 0 0px 0px 1px #eee;
}

/* 커서 꾸미기 */
#cursor {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    pointer-events: none;
    will-change: transform;
}

.cursor_on {
    mix-blend-mode: multiply;
}

.cursor_on_1 {
    mix-blend-mode: lighten;
}

.cursor_on_2 {
    mix-blend-mode: screen;
    filter: opacity(70%);
}



@media (hover: hover) and (pointer: fine) {
    .cursor__circle {
        width: 64px;
        height: 64px;
        margin-top: -50%;
        margin-left: -50%;
        border-radius: 50%;
        border: solid 1px rgba(220, 34, 52, 0.8);
        transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1),
            background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
            border-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
            width 0.3s cubic-bezier(0.25, 1, 0.5, 1),
            height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
    }

    #cursor.cursor_on .cursor__circle {
        width: 128px;
        height: 128px;
        background-color: #FFD0C9;
        border-color: #FFD0C9;
    }

    #cursor.cursor_on_1 .cursor__circle {
        width: 128px;
        height: 128px;
        background-color: #FFD0C9;
        border-color: #FFD0C9;
    }

    #cursor.subtle .cursor__circle {
        opacity: 0.16;
    }

    #cursor.overlay .cursor__circle {
        width: 48px;
        height: 48px;
        background-color: rgba(227, 222, 193, 0.08);
        border-color: transparent;
    }
}